@import "../../styles/variables.scss";

.card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 100px;
  margin-bottom: 100px;
  border-bottom: 1.5px solid $mainGray;

  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 356px;

    a {
      margin-top: auto;
      color: $mainBlack;
      @include link;

      &:hover {
        color: $mainGray;
      }
    }

    .contentTop {
      h2 {
        color: $mainBlack;
        @include body;
        font-weight: 500;
        margin-bottom: 25px;
      }

      p {
        color: $mainGray;
        @include subText;

        &.subtitle {
          color: $mainBlack;
          @include body;
          margin-bottom: 35px;
        }
      }
    }
  }

  .containerImage {
    max-width: 640px;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}
